@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

.main{
    width: 100%;
    height: auto;
    background-color: #F6F6EE;
}

.navbar{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vh;
    font-family: "gilroy";
}

.navbar h2{
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #333;
}

.navbar h2 span{
    font-weight: 600;
}

.links{
    display: flex;
    gap: 40px;
}

.links a{
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    font-weight: 400;
}

.center{
    height: 40vh;
    width: 100%;
}

.text{
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%,-50%);
    text-align: center;
    padding: 0  10vh;
    font-family: "Playfair Display";
}

.text h1{
    font-size: 2.5rem;
    font-weight: 600;
}

.text p{
    font-size: 1.1rem;
    font-weight: 500;
    margin: 3vh 0;
}

.text button{
    padding: 10px 15px;
    border-radius: 100px;
    background-color: #333;
    color: #fff;
    margin-top: 2vh;
    font-size: 1rem;
    font-weight: 600;
}

img{
    width: 100%;
}

.bottom{
    width: 100%;
    height: 30vh;
    display: flex;
    background-color: #F6F6EE;
    font-family: "Gilroy";
}

.bleft{
    width: 50%;
}

.bleft .bltext{
    border-right: 2px solid black;
    display: flex;
    flex-direction: column;
    text-align: end;
    padding-right: 4vw;
    margin-left: 10vw;
}

.bltext h1{
    font-size: 2.5rem;
    font-weight: 500;
}

.bltext p{
    font-size: 1rem;
    font-weight: 400;
}

.bright{
    width: 50%;
    padding-left: 4vw;
}

.bright .icon{
    display: flex;
}

.icon i{
    font-size: 1.5rem;
    padding: 2vh;
}

.bright .brtext h1{
    font-size: 2.3rem;
    font-weight: 500;
}

.brtext p{
    font-size: 1rem;
    font-weight: 400;
}